html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* HEADER */
.header {
  background: white;
  border-bottom: 1px solid black;
}

/* ========== TOP BAR ========== */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px 12px 50px;
  border-bottom: 1px solid black;
}

.top-bar {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  font-size: 12px;
}

.top-bar p {
  margin: 0;
  white-space: nowrap;
}

.social {
  display: flex;
  gap: 8px;
}

.social img {
  width: 16px;
  height: 16px;
}

/* ========== MAIN HEADER ========== */
.main-header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 50px 12px 50px;
}

.logo img {
  height: 28px;
  display: block;
}

/* MENU DESKTOP */
.menu {
  display: flex;
  gap: 18px;
  margin-left: auto;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

/* BUTTON DESKTOP */
.button-appointment {
  margin-left: 16px;
  padding: 8px 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
}

/* ========== MOBILE MENU ========== */
.mobile-menu {
  display: none;
  margin-left: auto;
}

.burger {
  list-style: none;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.burger::-webkit-details-marker {
  display: none;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
}

.mobile-nav a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
}

/* ========== MOBILE RULES ========== */
@media (max-width: 768px) {

  /* hide top bar */
  .top-row {
    display: none;
  }

  /* hide menu,button */
  .menu,
  .button-appointment {
    display: none;
  }

  
  .mobile-menu {
    display: block;
  }
}